.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
@media screen and (max-width: 900px) {
  .App {
    height: auto;
  }
}


.App__Body {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 900px) {
  .App__Body {
    overflow-y: auto;
  }
}
