.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.App-logo {
  height: 100px;
  margin-bottom: -40px;
  position: relative;
  z-index: 999;
}

.App-header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 5px;
  background-color: rgba(0,0,0,.8);
  color: white;
}

.App-body {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
