@import url('https://fonts.googleapis.com/css?family=Roboto|Ubuntu');

:root {
  --font-size-base: 1.4rem;
  --line-height-base: 1.42857143;
  --font-family-secondary: 'Ubuntu', sans-serif;
  --font-family-primary: 'Roboto', sans-serif;

  --color-primary: #63C3F3;
}

html,
body,
#root {
  height: 100%;
}

html {
  /* set base font-size to 10px, so 1rem is 10px */
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family-primary);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  background-image: url('images/background1.jpg');
  background-size: cover;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}
