.NavigationMenu {
  text-align: right;
  overflow: hidden;
}

.NavigationMenu__Link {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  margin-right: 2.2rem;
  font-size: 1.25rem;
  font-weight: 200;
  font-family: var(--font-family-secondary);
  transition: color .25s;
}

.NavigationMenu__Link:hover {
  color: var(--color-primary);
}

.NavigationMenu__Link:last-child {
  margin-right: 0;
}

.NavigationMenu__Link--active {
  color: var(--color-primary);
}

.NavigationMenu__Link--Secondary {
  font-size: 1.1rem;
}

.NavigationMenu__Secondary {
  transition: height .5s, opacity 1s;
  height: 0;
  opacity: 0;
}

.NavigationMenu__Secondary--open {
  transition: height .5s, opacity 1.5s;
  height: 2rem;
  opacity: 1;
}
